@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport
@{
	ViewBag.Title = "Cartera";
}
<h2> Reporte de Cartera</h2>
<p>
	<a class="btn btn-success" href="@Url.Action("Reporte","Prestamos")">Atrás</a>

</p>

@Html.DevExpress().WebDocumentViewer(settings =>
{
	settings.Name = "Viewer_Cartera";
}).Bind(Model).GetHtml()