@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport
@{
	ViewBag.Title = "Ayuda Funeral Entregada";
}

<h2>Aportaciones por Socio</h2>

<p>
	<a class="btn btn-success" href="@Url.Action("Reporte","AFUNERAL")">Atrás</a>

</p>

@Html.DevExpress().WebDocumentViewer(settings =>
{
	settings.Name = "Viewer_Ayuda_Funeral_Entregada";
}).Bind(Model).GetHtml()