
@{
    ViewBag.Title = "Formato de Entrega de Ayuda Funeral";
}

@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport


<h2>@ViewBag.Title</h2>





@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "viewerrptAyudaFuneral";
}).Bind(Model).GetHtml()