
@{
    ViewBag.Title = "Reporte efectivo entregado por comprobante compra y venta de divisas C$";
}

<h2>@ViewBag.Title</h2>

@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport





@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "ViewerDetalleEfectivo";
}).Bind(Model).GetHtml()
