@{
    ViewBag.Title = "Inicio";
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="~/Home">Sistema de Gestión de Crédito</a></li>
            <li class="active">Inicio</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <img class="img-responsive" src="~/Content/fitzgerald-wp.jpg" />
        </div>
    </div>
</div>