
@{
    ViewBag.Title = "Comprobante de Caja Rapida Dos";
}

<h2>Comprobante de Caja Rapida Dos </h2>

@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "viewerrptComprobanteCajaRapida2";
}).Bind(Model).GetHtml()
