@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport
@{
	ViewBag.Title = "Bitacora de Deudores y Fiadores";
}

<h2>Aportaciones por Socio</h2>

<p>
	<a class="btn btn-success" href="@Url.Action("Reporte","Prestamos")">Atrás</a>

</p>

@Html.DevExpress().WebDocumentViewer(settings =>
{
	settings.Name = "Viewer_Bitacora_Deudores_Fiadores";
}).Bind(Model).GetHtml()
