@model CoopJFK.Models.RoleViewModel

@{
    ViewBag.Title = "Detalle";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Sistema de Gestión de Crédito</a></li>
            <li>Administracion</li>
            <li class="active">Rol</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                               Rol
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Regresar a la lista", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

