
@{
    ViewBag.Title = "rptAsociadosSaldosAhorro";
}

<h2>Reporte de asociados con saldos de ahorro</h2>

@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport

@Html.DevExpress().WebDocumentViewer(settings => {
    settings.Name = "ViewAsociadosSaldosAhorro";
}).Bind(new rptAsociadosSaldosAhorro()).GetHtml()
