
@{
    ViewBag.Title = "Reporte Detalle de Ahorro";
}

<h2>@ViewBag.Title</h2>

@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport





@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "ViewerRptDetalleAhorro";
}).Bind(Model).GetHtml()
