@model IEnumerable<CoopJFK.Models.PERIODO>

@{
    ViewBag.Title = "Periodos de Pagos";
}


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewBag.Title</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">Sistema de Gestión de Crédito</a></li>
            <li>Administración</li>
            <li class="active">Periodos de Pagos</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <p>
                <a class="btn btn-info" href="@Url.Action("Create","Periodo")">Crear Periodo</a> 

            </p>
            <hr />
           
            <div id="gridPeriodo"></div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            CargarGrid();

        });
        var Estado = [{ ID: 'A', DISPLAY:'Abierto' },
            { ID: 'C', DISPLAY:'Cerrado' }
            
        ];
        var Proyect = [
            "No",
            "Si"
        ];
        function CargarGrid() {

            $.ajax({
                url: "/Periodo/GetPeriodos",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var fillData = data.periodo;
                    var dataGrid = $("#gridPeriodo").dxDataGrid({
                        filterRow: { visible: false },
                        dataSource: fillData,

                        keyExpr: ["ID","TIPO_PAGO"],
                        sorting: {
                            mode: "multiple"
                        },
                        editing: {
                            mode: "popup",
                            allowUpdating: false,
                            allowDeleting: true,
                            confirmDelete: true,
                            allowAdding: false,
                            popup: {
                                title: "Periodo de Pagos",
                                showTitle: true,
                                width: 900,
                                height: 400,
                                position: {
                                    my: "top",
                                    at: "top",
                                    of: window
                                }
                            },
                            form: {
                                items: [{
                                    itemType: "group",
                                    colCount: 2,
                                    colSpan: 2,
                                    items: ["ID","YEAR", "TIPO_PAGO", "FECHA_DESDE", "FECHA_HASTA","DESCRIPCION", {
                                        dataField: "ESTADO",
                                        editorType: "dxSelectBox",
                                        editorOptions: {
                                            items: Estado,
                                            displayExpr: 'DISPLAY',
                                            value: "ID"
                                        }

                                    

                                        }]
                                }]
                            }

                        },
                        paging: {
                            pageSize: 30
                        },
                        pager: {
                            showPageSizeSelector: true,
                            allowedPageSizes: [10, 20, 50],
                            showInfo: true
                        },
                        filterRow: {
                            visible: true
                        },
                        searchPanel: {
                            visible: true,
                            width: 340,
                            placeholder: "Search..."
                        },
                        loadPanel: {
                            enabled: true
                        },
                        showBorders: true,
                        columns: [
                            {
                                dataField: "ID",
                                caption: "Periodo de pago",
                                alignment: "center"
                            },
                            {
                                dataField: "FECHA_DESDE",
                                caption: "Periodo desde",
                                dataType: "date",
                                alignment: "center"
                            },
                            {
                                dataField: "FECHA_HASTA",
                                caption: "periodo hasta",
                                dataType: "date",
                                alignment: "center"
                            },
                            
                            {
                                dataField: "TIPO_PAGODESC",
                                caption: "Tipo de Pago",
                               
                                alignment: "center"
                            },
                            {
                                dataField: "DESCRIPCION",
                                caption: "Descripción",
                                width: 300,
                                alignment: "left"
                            },
                            {
                                dataField: "ESTADO",
                                caption: "Estado",
                                alignment: "center"
                            },
                           
                            {
                                alignment: "center",
                                cellTemplate: function (container, cellInfo) {
                                    $("<a>", { "class": "btn btn-info", "href": "Edit/" + cellInfo.data.ID + "?tipopago=" + cellInfo.data.TIPO_PAGO, "text": "Editar" }).appendTo(container);
                                    
                                }
                            }
                        ],

                        onRowRemoved: function (e) {
                            console.log(e);
                            var data = {
                                id: e.data.ID,
                                tipopago:e.data.TIPO_PAGO

                                //PERIODO: e.data.PERIODO,
                                //ESTADO: e.data.ESTADO,
                                //PROYECTADA:e.data.PROYECTADA
                            };

                            $.ajax({
                                url: '/Periodo/UpdatePeriodo',
                                type: "POST",
                                data: JSON.stringify(data),
                                dataType: "JSON",
                                contentType: "application/json",
                                success: function (d) {
                                    //check is successfully save to database
                                    if (d.status == true) {
                                        //will send status from server side
                                        Swal.fire({
                                            position: 'center',
                                            type: 'success',
                                            title: 'Se elimino el Periodo',
                                            showConfirmButton: true

                                        })
                                    }
                                    else {
                                        Swal.fire({
                                            type: 'error',
                                            title: 'Error!',
                                            text: d.messageerror,
                                            footer: ''
                                        })

                                    }

                                },
                                error: function () {
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Error!',
                                        text: 'Intente Nuevamente.',
                                        footer: ''
                                    })

                                }
                            });

                        },
                        //onRowInserting: function (e) {
                        //    console.log(e);
                        //    var data = {
                        //        ID: e.data.ID,
                        //        FECHA_DESDE: e.data.FECHA_DESDE,
                        //        FECHA_HASTA:e.data.FECHA_HASTA,
                        //        NUMERO:e.data.NUMERO,
                        //        YEAR:e.data.YEAR,
                        //        TIPO_PAGO:e.data.TIPO_PAGO,
                        //        //PERIODO: e.data.PERIODO,
                        //        ESTADO:e.data.ESTADO,
                        //        //PROYECTADA:e.data.PROYECTADA
                        //    };

                        //    $.ajax({
                        //        url: '/Periodo/CreatePeriodo',
                        //        type: "POST",
                        //        data: JSON.stringify(data),
                        //        dataType: "JSON",
                        //        contentType: "application/json",
                        //        success: function (d) {
                        //            //check is successfully save to database
                        //            if (d.status == true) {
                        //                //will send status from server side
                        //                Swal.fire({
                        //                    position: 'center',
                        //                    type: 'success',
                        //                    title: 'Se creo el periodo',
                        //                    showConfirmButton: true

                        //                })
                        //            }
                        //            else {
                        //                Swal.fire({
                        //                    type: 'error',
                        //                    title: 'Error!',
                        //                    text: d.messageerror,
                        //                    footer: ''
                        //                })

                        //            }

                        //        },
                        //        error: function () {
                        //            Swal.fire({
                        //                type: 'error',
                        //                title: 'Error!',
                        //                text: 'Intente Nuevamente.',
                        //                footer: ''
                        //            })

                        //        }
                        //    });
                        //}
                    }).dxDataGrid("instance");
                }, error: function (xhr, status, error) {
                    alert(status);
                }
            });

        }
    </script>
}
