@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@model DevExpress.XtraReports.UI.XtraReport
@{
    ViewBag.Title = "Reporte de Detalle de deducciones Caja Rapida";
}

<h2>@ViewBag.Title</h2>

@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "ViewerDivisas";
}).Bind(Model).GetHtml()